header{
    padding: 0 20px;
    margin: 0;
    display: flex;
    display: flex;
    background: linear-gradient(to right, #2067a1, #2a9d8f);
    color: white;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    /* position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); */
}
.title{
    display: flex;
    align-items: center;
}
.title img{
    background-color: #2067a1;
    width: 30px;
    height: 30px;
}
.left{
    display: flex;
    align-items: center;
}
.list ul{
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: 15px;
    color: white;
}
.list ul li:hover{
    color: #2a9d8f;
    cursor: pointer;
}
.right{
    display: flex;
    align-items: center;
    gap: 10px;
}
.right input{
    border: none;
    border: 1px solid #b2b0b0;
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
}
.right input:focus{
    outline: none;
    box-shadow: 0 0 3px #2067a1;
}
.right img{
    background-color: #2a9d8f;
    width: 20px;
    height: 20px;
}