.login-container{
    padding-top: 100px;
    margin: auto;
    width: 40%;
}
.login-cont{
    display: flex;
    border: 1px solid #b2b0b0;
    box-shadow: 0 0 5px #2067a1;
    gap: 30px;
    border-radius: 10px;
    height: 70vh;
}
.login-cont .left img{
    width: 20vw;
    height: 70vh;
}
.left{
    /* border: 1px solid #b2b0b0; */
    width: 50%;
}
.right h3{
    margin-top: 70px;
    margin-bottom: 30px;
}
input{
    padding: 7px 10px;
    border-radius: 8px;
    border: none;
    border: 1px solid #b2b0b0;
    margin-bottom: 15px;
    width: 90%;
}
input:focus{
    outline: none;
    border: 1px solid #2067a1;
    box-shadow: 0 0 2px #2067a1;
}
label{
    color: #232222;
    font-size: 15px;
    margin-bottom: 8px;
}
.name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
}
.btn{
    display: flex;
    flex-direction: column;
}
.btn button{
    padding: 7px 10px;
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
    border: none;
    border: 1px solid #b2b0b0;
    background-color: #2067a1;
    color: white;
}
.btn button:hover{
    background-color: #19507c;
}
.already{
    text-align: center;
    font-size: 15px;
    color: #4c4b4b;
}