.prof-container{
    padding: 20px;
    margin-left: 20%;
}
.prof-card{
    border: 1px solid #b2b0b0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 82%;
    height: 30vh;
}
.prof-card p{
    margin-top: -10px;
}

.avatar-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: linear-gradient(135deg, #2067a1, #2a9d8f);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 5px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.initials {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}
.btn{
    display: flex;
    gap: 10px;
}
.btn button{
    border: none;
    border: 1px solid #b2b0b0;
    background-color: white;
    color: #2067a1;
    border-radius: 5px;
    padding: 3px 8px;
}
.btn button i{
    margin-right: 5px;
}
.btn button:hover{
    background-color: #2067a1;
    color: white;
}
.btn button:hover i{
    color: white;
}
i{
    color: #2067a1;
}
.info-card{
    border: 1px solid #b2b0b0;
    border-radius: 10px;
    width: 80%;
    padding: 10px;
    margin-top: 20px;
}
.person{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
}
.ions{
    display: flex;
    gap: 10px;
}
.person-det{
    display: flex;
    gap: 40%;
    margin-top: -30px;
}
.person-det p{
    font-size: 13px;
    color: #4c4b4b;
    margin-top: -20px;
}
.not{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
}
.not-details{
    display: flex;
    justify-content: space-between;
}
.pref{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: -20px;
}
.right{
    display: flex;
    flex-direction: column;
}
.pref img, .right img{
    width: 20px;
    height: 20px;
}
.left p{
    margin-top: -10px;
    font-size: 13px;
    color: #4c4b4b;
}